<html lang="en">

<head>

  <title>Kho Hàng</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="../../styles.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    body {
      font-family: 'Arial', sans-serif;
    }

    .mess {
      position: relative;
      display: inline-block;
    }

    .displayNone {
      display: none;
    }

    .mess::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: white;
      transition: width 0.5s ease-in-out;
    }

    .mess:hover::after {
      width: 100%;
    }

    .text-inputform {
      resize: none;
      width: 100%;
      outline: unset !important;
      height: 65%;
      border: 0.5px solid #838383;
      padding: 7px;
      border-radius: 8px;
    }

    .box-notification {
      height: 91%;
      width: 96%;
      margin: 0 14px;
      padding: 14px;
      background: #f1f1f1;
      overflow: auto;
    }

    .text-title-Notification {
      text-align: center;
      font-size: 22px;
      font-weight: 600;
      padding: 8px;
      height: 9%;
    }

    .width-tab {
      width: 49%;
      height: 100%;
      background: white;
    }


    .search {
      width: 100%;
      padding: 5px;
      border: 1px solid;
      border-radius: 8px;
      outline: unset;
    }

    .search-err {
      width: 100%;
      padding: 5px;
      border: 2px solid red;
      border-radius: 8px;
      outline: unset;
    }

    .options {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: #fff;
      border: 1px solid #ccc;
      max-height: 200px;
      overflow-y: scroll;
    }

    .option {
      padding: 5px;
      cursor: pointer;
    }

    .option:hover {
      background-color: #f2f2f2;
    }

    .text-delete {
      width: 16%;
      cursor: pointer;
      text-align: end;
      padding-right: 14px;
      color: red;
      font-family: sans-serif;
    }

    .text-err {
      text-align: center;
      color: red;
      font-weight: 600;
      font-size: 17px;
    }

    .input-err {
      resize: none;
      width: 100%;
      outline: unset !important;
      height: 65%;
      border: 2px solid red;
      padding: 7px;
      border-radius: 8px;
    }

    .box-delete {
      display: flex;
      justify-content: end;
      margin-bottom: 3px;
      height: 8%;
      align-items: center;
    }


    .body-Main {
      display: flex;
      width: 100%;
      height: 100%;
    }

    .box-Main-One {
      width: 17%;
      height: 100%;
      background-color: rgba(49, 46, 129, var(--tw-bg-opacity));
      display: flex;
      flex-direction: column;
    }

    .box-Text-Title {
      background-color: rgba(55, 48, 163, var(--tw-bg-opacity));
      height: 13%;
      width: 100%;
    }

    .text-Title {
      color: white;
      font-size: 24px;
      padding: 24px;
      font-family: sans-serif;
      font-weight: 600;
    }

    .box-Main-Two {
      width: 84%;
      height: 100%;
    }

    .box-Main-Extra {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .box-infomation {
      width: 100%;
      height: 11%;
    }

    .information {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: space-between;
      padding: 0 18px;
      background: white;
      align-items: center;
    }

    .information-Admin {
      display: flex;
      width: 8%;
      justify-content: space-between;
      align-items: center;
    }

    .link-a:hover {
      text-decoration: none;
    }

    .link-a {
      color: black;
      font-size: 16px;
      font-family: sans-serif;
    }

    .box-order-Main {
      width: 100%;
      height: 89%;
    }


    .item-click {
      height: 87%;
      width: 100%;
    }

    .load-Spinner {
      padding: 20%;
      width: 100%;
      text-align: center;
    }

    .box-Main {
      margin: 14px 8px;
      width: 99%;
      height: 96%;
    }

    .box-Main-Notification {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: space-around;
    }

    .form-submit {
      height: 21%;
      width: 97%;
      margin: 0 9px;
    }

    .box-content-Notification {
      height: 70%;
      padding: 10px 0;
      width: 100%;
    }

    .css-buttom {
      margin-top: 8px;
    }

    .display_None {
      display: none;
    }

    .card-search {
      width: 83%;
    }

    .search-container {
      float: left;
      justify-content: space-between;
      line-height: 30px;
      width: 100%;
    }

    .search-input {
      padding: 2px 5px 2px 5px;
      width: 100%;
      border-radius: 5px;
      border: 1px solid #ced4da;
    }

    .box-data {
      height: 100%;
      display: flex;
      flex-direction: column;
      background: white;
    }

    .img_product {
      height: 50px;
      width: 50px;
      border-radius: 8px;
    }

    .card-body-product {
      height: 88%;
      padding: 8px 14px;
    }

    .box-size-table {
      display: flex;
      align-items: center;
      justify-content: end;
      padding: 14px 0;
      width: 100%;
    }

    .text-box-size-table {
      font-size: 16px;
      font-weight: 600;
      margin-right: 8px;
    }

    .box-arrow {
      display: flex;
      width: 10%;
      justify-content: space-around;
    }

    .box-extra-arrow {
      padding: 6px;
      border: 0.5px solid;
      cursor: pointer;
      margin-right: 2px;
    }

    .box-extra-arrow:hover {
      background: #dedede
    }
    .box-sort-sreach{
      display: flex;
      height: 11%;
      justify-content: space-between;
    }
    .icon_thaoTac {
      width: 29px;
      cursor: pointer;
    }
    .table td{
      padding: 2px !important;
      vertical-align:middle !important;
    }
    .text_Align {
      padding: 4px 14px;
      text-align: center;
    }
    .th-No {
      width: 55px;
    }

    .th-img {
      text-align: center;
    }

    .th-img {
      width: 83px;
    }

    .th-NameProduct {
      width: 567px;
      text-align: center;
    }

    .th-Money {
      text-align: center;
      width: 135px;
    }

    .th-Color {
      text-align: center;
      width: 83px;
    }

    .th-Size {
      text-align: center;
      width: 97px;
    }

    .th-Loai {
      text-align: center;
      width: 67px;
    }

    .th-thaoTac {
      text-align: center;
    }

    .td-nameProduct{
      padding: 0 14px;
    }
  </style>
</head>

<body class="bg-gray-200">
<div id="dataALL">
  <div class="body-Main">
    <div class="box-Main-One">
      <div class="box-Text-Title">
        <div class="text-Title">Shop BipBip</div>
      </div>
      <div class="item-click">
        <a href="/statistic" class=" cursor-pointer mess ml-3 mt-3 w-10/12"
           style="text-decoration: none ">
          <div class="flex" style=" padding: 12px;">
            <div>
              <img class="w-5 h-5" src="analytics.png" alt="">
            </div>
            <div class="mx-3 text-sm text-gray-100 ">Thống kê</div>
          </div>
        </a>
        <a href="/home" class=" cursor-pointer mess ml-3 mt-3 w-10/12"
           style="display: flex; text-decoration: none ">
          <div class="flex" style=" padding: 12px;">
            <div>
              <img class="w-5 h-5" src="dashboard.png" alt="">
            </div>
            <div class="mx-3 text-sm text-gray-100 ">Đơn Hàng</div>
          </div>
          <span class="badge" style="color: white;font-size: 14px;">\{{donHangMoi}}</span>
        </a>
        <a href="/mess" class="cursor-pointer mess ml-3 mt-3 w-10/12" style="display: flex; text-decoration: none">
          <div class="flex" style="padding: 12px;">
            <div>
              <img class="w-5 h-5 " src="messages.png" alt="">
            </div>
            <div class="mx-3 text-sm text-gray-100 ">Tin Nhắn</div>
          </div>
          <span class="badge" style="color: white;font-size: 14px;">\{{tinNhanMoi}}</span>
        </a>
        <a href="/notifications" class="cursor-pointer mess ml-3 mt-3 w-10/12" style="text-decoration: none">
          <div class="flex" style=" padding: 12px;">
            <div>
              <img class="w-5 h-5" src="notifications.png" alt="">
            </div>
            <div class="mx-3 text-sm text-gray-100">Thông báo</div>
          </div>
        </a>
        <a href="/accountManagement" class="cursor-pointer mess ml-3 mt-3 w-10/12"
           style="display: flex; text-decoration: none">
          <div class="flex" style="padding: 12px;">
            <div>
              <img class="w-5 h-5 " src="iconuser.png" alt="">
            </div>
            <div class="mx-3 text-sm text-gray-100 ">Quản Lý người dùng</div>
          </div>
        </a>
        <a href="/warehouse" class="cursor-pointer mess ml-3 mt-3 w-10/12"
           style="border-bottom-width: 1px;text-decoration: none">
          <div class="flex" style=" padding: 12px;">
            <div>
              <img class="w-5 h-5" src="kho.svg" alt="">
            </div>
            <div class="mx-3 text-sm text-gray-100">Kho Hàng</div>
          </div>
        </a>
      </div>
    </div>
    <div class="box-Main-Two">
      <div class="box-Main-Extra">
        <div class="box-infomation">
          <div class="information">
            <div class="information-Admin">
              <img src="person.png" class="w-10 h-10" alt="">
              <span>Admin</span>
            </div>
            <div>
              <a class="link-a" href="/login">Đăng xuất</a>
            </div>
          </div>
        </div>
        <!--Top navbar-->

        <div class="box-order-Main">

          <div :class="checkStatus ? ' ' : 'display_None' " class="load-Spinner">
            <div class="spinner-border text-primary"></div>
          </div>

          <div id="hienThidata" :class="checkStatus ? 'display_None' : ' ' ">
            <div class="box-Main">
              <div class="box-data">
                <div class="card-header box-sort-sreach" >

                  <div style="width: 81%;display: flex;">
                    <div style="display: flex;width: 32%;">
                      <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle float-left" style="width: 80px;"
                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          \{{ selectedValueGender }}
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" @click="selectOptionGender('all')" style="cursor: pointer;">Tất
                            cả</a></li>
                          <li><a class="dropdown-item" @click="selectOptionGender('men')" style="cursor: pointer;">Nam</a>
                          </li>
                          <li><a class="dropdown-item" @click="selectOptionGender('women')"
                                 style="cursor: pointer;">Nữ</a></li>
                        </ul>
                      </div>

                      <div class="dropdown">
                        <button class="btn btn-outline-secondary dropdown-toggle float-left" type="button"
                                data-bs-toggle="dropdown" aria-expanded="false" style="margin-left:10px; ">
                          \{{selectedValueMoney}}
                        </button>
                        <ul class="dropdown-menu">
                          <li style="cursor: pointer;"><a class="dropdown-item" @click="selectOptionSort('lowtohight')">Giá:
                            Thấp đến Cao</a></li>
                          <li style="cursor: pointer;"><a class="dropdown-item" @click="selectOptionSort('highttolow')">Giá:
                            Cao đến Thấp</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="card-search">
                      <div class="search-container">
                        <input v-model="searchData" type="text" class="search-input" id="searchInput"
                               placeholder="Tìm kiếm..." autocomplete="off">
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary float-right" data-toggle="modal" data-target="#addProductModal">Thêm
                    sản phẩm
                  </button>
                </div>


                <div class="card-body-product">
                  <div style="height: 93%;">
                    <table class="table table-bordered " style="margin-bottom:0px">
                      <thead>
                      <tr>
                        <th class="th-No">STT</th>
                        <th class="th-img">Ảnh</th>
                        <th class="th-NameProduct">Tên sản phẩm</th>
                        <th class="th-Money">Giá</th>
                        <th class="th-Color">Số màu</th>
                        <th class="th-Size">Số lượng</th>
                        <th class="th-Loai">Loại</th>
                        <th class="th-thaoTac">Thao tác</th>
                      </tr>
                      </thead>
                      <tbody>

                      <tr v-for="(item,index) in dataWarehouseAll[indexSize-1]">
                        <td>
                          <div class="text_Align">
                            \{{((indexSize-1) * 7)+index+1}}
                          </div>
                        </td>
                        <td>
                          <div class="text_Align">
                            <img :src="item.product_image" class="img_product"/>
                          </div>
                        </td>
                        <td>
                          <div class="td-nameProduct">
                            \{{item.product_title}}
                          </div>
                        </td>
                        <td>
                          <div class="text_Align">
                          \{{formatPrice(item.product_price)}}
                        </div>
                        </td>
                        <td>
                          <div class="text_Align">
                            \{{item.product_quantityColor}}
                          </div>
                        </td>
                        <td>
                          <div class="text_Align">
                            \{{item.product_quantity}}
                          </div>
                        </td>
                        <td>
                          <div v-if="item.product_category == 'men'"  class="text_Align"> Nam</div>
                          <div v-if="item.product_category == 'women'"  class="text_Align"> Nữ</div>
                        </td>
                        <td>
                          <div  style="display: flex;justify-content: space-around">
                            <img @click="openModalSuaSP(item)" class="icon_thaoTac"
                                 src="pen.png">
                            <img @click="openModalXoaSP(item)" class="icon_thaoTac"
                                 src="delete.png">
                            <img @click="XemChiTiet(item._id)" class="icon_thaoTac"
                                 src="show.png">
                          </div>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="box-size-table" v-if="toatalWare > 7">
                    <div class="text-box-size-table">\{{sizeTable(indexSize)}} của tổng số \{{toatalWare}}</div>
                    <div class="box-arrow">
                      <div class="box-extra-arrow" @click="backSize(dataWarehouseAll)">
                        <img src="next.png" style="width: 24px" alt="">
                      </div>
                      <div class="box-extra-arrow" @click="arrowBackSize(dataWarehouseAll)">
                        <img src="back-arrow.png" style="width: 24px" alt="">
                      </div>
                      <div class="box-extra-arrow" @click="arrowNextSize(dataWarehouseAll)">
                        <img src="right-arrow.png" style="width: 24px" alt="">
                      </div>
                      <div class="box-extra-arrow" @click="nextSize(dataWarehouseAll)">
                        <img src="back.png" style="width: 24px" alt="">
                      </div>
                    </div>
                  </div>

                </div>
                <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog"
                     aria-labelledby="addProductModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="addProductModalLabel">Thêm sản phẩm</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="/home/add" method="POST" class="mb-3" id="addProductForm"
                              enctype="multipart/form-data">
                          <div>
                            <label for="product_image">Ảnh:</label>
                            <input type="file" id="product_image" name="product_image" accept="image/*" required>

                          </div>
                          <div class="form-group">
                            <label for="product_title">Tiêu đề</label>
                            <input type="text" class="form-control" id="product_title" autocomplete="off"
                                   name="product_title" required>
                          </div>
                          <div class="form-group">
                            <label for="product_price">Giá</label>
                            <input type="number" class="form-control" id="product_price"
                                   name="product_price" required>
                          </div>
                          <div class=" form-group">
                            <label for="product_category">Thể loại</label>
                            <select class="form-control" id="product_category"
                                    name="product_category" required>
                              <option value="men">Nam</option>
                              <option value="women">Nữ</option>
                            </select>
                          </div>
                          <button type="submit" class="btn btn-primary">Thêm</button>

                        </form>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="XoaSP" tabindex="-1" role="dialog"
       aria-labelledby="deleteProductModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteProductModalLabel">Xóa sản phẩm
          </h5>
          <button type="button" class="close" @click="closeModalXoaSP" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Bạn có chắc chắn muốn xóa sản phẩm \{{dataXoaSanPham.product_title}} ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"
                  data-dismiss="modal">Huỷ
          </button>
          <form @submit.prevent="submitDeleteContentChat">
            <button type="submit" class="btn btn-danger">Xóa</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="SuaSP" tabindex="-1" role="dialog"
       aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addProductModalLabel">Sửa sản phẩm</h5>
          <button type="button" class="close" @click="closeModalSuaSP" data-dismiss="modal"
                  aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form :action="'/home/edit/' + dataSuaSanPham._id" method="POST" class="mb-3"
                id="addProductForm" enctype="multipart/form-data">
            <div style="display: flex;">
              <div>
                <img :src="dataSuaSanPham.product_image"
                     style="height: 95px; width: 95px; border-radius: 5px;"
                     alt="">
              </div>
              <div class="form-group"
                   style=" margin-left: 8px; width: 80%; ">
                <label for="product_image">Ảnh</label>
                <input type="file" class="form-control"
                       id="product_image" name="product_image"
                       v-model="formData.product_image" required>
              </div>
            </div>
            <div class="form-group">
              <label for="product_title">Tiêu đề</label>
              <input type="text" class="form-control" id="product_title"
                     name="product_title" autocomplete="off"
                     v-model="formData.product_title" required>
            </div>
            <div class="form-group">
              <label for="product_price">Giá</label>
              <input type="number" class="form-control" id="product_price"
                     min="0"
                     v-model="formData.product_price" name="product_price"
                     required>
            </div>
            <div class="form-group">

              <div class="form-group">
                <label for="product_category">Thể loại</label>
                <select class="form-control" id="product_category" name="product_category" v-model="selectGender"
                        @change="selectClickGender">
                  <option v-for="item in selectGenderClick" :value="item.value" :key="item.value">\{{ item.name }}
                  </option>
                </select>
              </div>

              <button type="button" class="btn btn-secondary"
                      data-dismiss="modal">Huỷ
              </button>
              <button type="submit" class="btn btn-primary">Sửa</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<script>
  var vm = new Vue({
    el: "#dataALL",
    data: {
      indexSize: 1,
      tinNhanMoi: 0,
      donHangMoi: 0,
      dataWarehouseAll: {},
      dataSearch: {},
      dataSuaSanPham: {},
      dataXoaSanPham: {},
      toatalWare: 0,
      checkThongTin: true,
      checkInputNotificationAll: false,
      checkInputNotificationOne: false,
      checkInputUserNameOne: false,
      checkStatus: true,
      selectedValueGender: 'Tất cả',
      selectedValueMoney: 'Giá',
      dataCate: 'men',
      dataCateTwo: 'women',
      searchData: '',
      selectGender: 'Giới tính',
      selectGenderClick: [
        {value: 'men', name: 'Nam'},
        {value: 'women', name: 'Nữ'},
      ],
      formData: {
        product_image: "",
        product_title: "",
        product_price: "",
        product_category: ""
      },
    },
    mounted() {
      const socket = io();
      const self = this;
      socket.on('server-send', () => {
        self.GetAllDataChat();
        self.GetDataCart();
        self.GetDataNameUser();
      });

      this.socket = socket;

    },
    beforeDestroy() {
      const socket = io();
      if (socket) {
        this.socket.disconnect();
      }
    },
    watch: {
      searchData(newKeyword) {
        var self = this;
        if (newKeyword === '') {
          var dataAll = splitList(self.dataSearch)
          self.toatalWare = self.dataSearch.length
          return self.dataWarehouseAll = dataAll
        }
        self.filterData(newKeyword);
      }
    },

    methods: {
      submitDeleteContentChat() {
        var self = this;
        fetch(`/home/delete/${self.dataXoaSanPham._id}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(self.formData)
        })
            .then(response => response.json())
            .then(data => {
              self.loadDataWarehouseLast()
              self.closeModalXoaSP()
            })
            .catch(error => {
              console.error(error);
            });
      },
      selectClickGender() {
        this.formData.product_category = this.selectGender
      },
      openModalSuaSP(data) {
        this.formData.product_title = data.product_title
        this.formData.product_price = data.product_price
        this.formData.product_category = data.product_category

        this.dataSuaSanPham = data
        this.selectGender = data.product_category
        $('#SuaSP').modal('show');
      },
      closeModalSuaSP() {
        this.dataSuaSanPham = {};

        $('#SuaSP').modal('hide');
      },

      openModalXoaSP(data) {
        this.dataXoaSanPham = data
        $('#XoaSP').modal('show');
      },
      closeModalXoaSP() {
        this.dataXoaSanPham = {};
        $('#XoaSP').modal('hide');
      },
      filterData(keyword) {
        var self = this;
        const key = keyword.toLowerCase();
        const dataSreachs = self.dataSearch.filter(product => product.product_title.toLowerCase().includes(key));
        var dataAll = splitList(dataSreachs)
        self.toatalWare = dataSreachs.length
        return self.dataWarehouseAll = dataAll
      },
      XemChiTiet(data) {
        console.log(data)
        window.location.href = `/home/detail/${data}`;
      },
      selectOptionSort(value) {
        var self = this
        if (value === 'highttolow') {
          self.selectedValueMoney = 'Giá: Cao đến Thấp'
          const dataSreachs = self.dataSearch.filter(product => product.product_category === self.dataCate || product.product_category === self.dataCateTwo).sort((a, b) => b.product_price - a.product_price);

          var dataAll = splitList(dataSreachs)
          self.dataWarehouseAll = dataAll
          self.toatalWare = dataSreachs.length
        } else {
          self.selectedValueMoney = 'Giá: Thấp đến Cao'
          const dataSreachs = self.dataSearch.filter(product => product.product_category === self.dataCate || product.product_category === self.dataCateTwo).sort((a, b) => a.product_price - b.product_price);

          var dataAll = splitList(dataSreachs)
          self.dataWarehouseAll = dataAll
          self.toatalWare = dataSreachs.length
        }
      },
      selectOptionGender(value) {
        var self = this
        if (value === 'all') {
          self.dataCate = 'men'
          self.dataCateTwo = 'women'
          self.selectedValueGender = 'Tất cả'
          const dataSreachs = self.dataSearch;
          var dataAll = splitList(dataSreachs)
          self.dataWarehouseAll = dataAll
          self.toatalWare = dataSreachs.length
        } else if (value === 'men') {
          self.selectedValueGender = 'Nam'
          self.dataCate = 'men'
          self.dataCateTwo = 'men'
          const dataSreachs = self.dataSearch.filter(product => product.product_category === 'men');
          var dataAll = splitList(dataSreachs)
          self.dataWarehouseAll = dataAll
          self.toatalWare = dataSreachs.length
        } else {
          self.selectedValueGender = 'Nữ'
          self.dataCate = 'women'
          self.dataCateTwo = 'women'
          const dataSreachs = self.dataSearch.filter(product => product.product_category === 'women');
          var dataAll = splitList(dataSreachs)
          self.dataWarehouseAll = dataAll
          self.toatalWare = dataSreachs.length
        }
      },
      formatPrice(value) {
        let val = (value / 1).toFixed(0);
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " đ";
      },
      sizeTable(vale) {
        const start = (vale - 1) * 7 + 1
        const end = (vale - 1) * 7 + 7
        return `${start} - ${end}`;
      },

      nextSize(arr) {
        var self = this
        self.indexSize = arr.length
      },
      arrowNextSize(arr) {
        var self = this
        var i = self.indexSize
        if (0 < i && i < arr.length) {
          self.indexSize = i + 1
        }
      },
      arrowBackSize(arr) {
        var self = this
        var i = self.indexSize
        if (1 < i && i <= arr.length) {
          self.indexSize = i - 1
        }
        console.log(i)
      },
      backSize(arr) {
        var self = this
        self.indexSize = 1
      },
      openModal() {
        $('#xacNhan').modal('show');
      },
      closeModal() {
        $('#xacNhan').modal('hide');
      },

      openModalXoa() {
        $('#xacNhanXoa').modal('show');
      },
      closeModalXoa() {
        $('#xacNhanXoa').modal('hide');
      },

      GetAllDataChat: function () {
        var self = this;
        fetch('/chatAllShop', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        })
            .then(response => response.json())
            .then(data => {
              const sortedData = data.sort((a, b) => {
                if (a.status === b.status) {
                  return 0;
                }
                return a.status ? -1 : 1;
              });
              self.tinNhanMoi = sortedData.filter(item => item.status === true).length

            })
            .catch(error => {
              console.error(error);
            });
      },
      GetDataCart: function () {
        var self = this;
        fetch('/loadDataChoXacNhan', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
        })
            .then(response => response.json())
            .then(data => {
              self.donHangMoi = data.length
            })
            .catch(error => {
              console.error(error);
            });
      },
      GetDataWarehouse: function () {
        var self = this;
        self.loadDataWarehouseLast();
      },


      loadDataWarehouse(value) {
        var self = this
        fetch(`/warehouse/${value}`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
        })
            .then(response => response.json())
            .then(data => {
              var dataAll = splitList(data)
              self.dataWarehouseAll = dataAll
              self.dataSearch = data
              self.toatalWare = data.length
            })
            .catch(error => {
              console.error(error);
            });
      },

      loadDataWarehouseLast() {
        var self = this
        fetch(`/dataWarehouse`, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
        })
            .then(response => response.json())
            .then(data => {
              var dataAll = splitList(data)
              self.dataWarehouseAll = dataAll
              self.toatalWare = data.length
              self.dataSearch = data
              self.checkStatus = false
            })
            .catch(error => {
              console.error(error);
            });
      },


    }
  })
  vm.GetDataWarehouse();
  vm.GetAllDataChat();
  vm.GetDataCart();

  function splitList(arr) {
    let result = [];
    for (let i = 0; i < arr.length; i += 7) {
      let chunk = arr.slice(i, i + 7);
      result.push(chunk);
    }
    return result;
  }


</script>
</html>