<html lang="en">

<head>
  <title>Tin Nhắn</title>
  <link rel="stylesheet" href="styles.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    .modal-title {
      font-weight: bold;
    }


    body {
      margin: 7px auto auto;
    }

    .card-header {
      font-weight: bold;
      font-size: 20px;
    }

    .card-body {
      padding: 20px;
    }

    /* Style cho các button */
    .btn {
      font-size: 14px;
      font-weight: bold;
    }

    /* Style cho bảng sản phẩm */
    .table td {
      vertical-align: middle;
    }

    .table .table-actions a {
      margin-right: 5px;
    }

    .mess {
      position: relative;
      display: inline-block;
    }

    .mess::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: white;
      transition: width 0.5s ease-in-out;
    }

    .mess:hover::after {
      width: 100%;
    }

    .box-chat {
      width: 20%;
      border-right-width: 1px;
      border-right-color: black;
      margin: 7px 7px 0px 8px;
      height: 552px;
      border-radius: 8px;
      padding: 8px;
      overflow: auto;
    }

    .information {
      align-items: center;
      display: flex;
      flex-direction: row;
      background: #eadada;
      border-radius: 8px;
      margin: 7px;
      padding: 8px;
      cursor: pointer;
    }

    .informationNew {
      align-items: center;
      display: flex;
      font-weight: bold;
      flex-direction: row;
      background: #eadada;
      border-radius: 8px;
      margin: 7px;
      padding: 8px;
      cursor: pointer;
    }

    .user {
      max-width: fit-content;
      background: #d4d4d4;
      padding: 7px;
      border-radius: 8px;
      text-align: left;
      width: 80%;
      margin: 8px 0;
    }

    .admin {
      max-width: fit-content;
      background: #4842ff;
      padding: 7px;
      border-radius: 8px;
      margin-left: auto;
      width: 80%;
      color: white;
      margin-bottom: 8px;
    }

    .contenChat {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .name-user {
      font-size: 25px;
      padding: 6px;
      font-weight: 700;
      background: #f2eaea;
      margin: 0 12px;
      border-radius: 10px;
      text-align: center
    }

    .box-content {
      background: #f3f4f6;
      height: 444px;
      margin: 7px;
      border-radius: 8px;
      padding: 8px;
      overflow: auto;
    }
  </style>
</head>

<body class="bg-gray-200">
<div class="flex" id="dataALL">
  <!--Side Navbar-->
  <div class="bg-indigo-900 w-1/6 ">
    <div class=" bg-indigo-800">
      <div class=" text-xl text-gray-200 uppercase font-bold" style="padding: 33px;">Shop BipBip</div>
    </div>
    <a href="/statistic" class="cursor-pointer mess ml-3 mt-3 w-10/12" style="text-decoration: none">
      <div class="flex" style=" padding: 12px;">
        <div>
          <img class="w-5 h-5" src="analytics.png" alt="">
        </div>
        <div class="mx-3 text-sm text-gray-100 ">Thống kê</div>
      </div>
    </a>
    <a href="/home" class=" cursor-pointer mess ml-3 mt-3 w-10/12" style="text-decoration: none;display: flex;  ">
      <div class="flex" style=" padding: 12px;">
        <div>
          <img class="w-5 h-5" src="dashboard.png" alt="">
        </div>
        <div class="mx-3 text-sm text-gray-100 ">Đơn Hàng</div>
      </div>
      <span class="badge" style="color: white;font-size: 14px;">\{{donHangMoi}}</span>
    </a>


    <a href="/mess" class="cursor-pointer mess ml-3 mt-3 w-10/12"
       style="border-bottom-width: 1px; text-decoration: none; display: flex; ">
      <div class="flex" style=" padding: 12px;">
        <div>
          <img class="w-5 h-5 " src="messages.png" alt="">
        </div>
        <div class="mx-3 text-sm text-gray-100 ">Tin Nhắn

        </div>

      </div>
      <span class="badge" style="color: white;font-size: 14px;">\{{tinNhanMoi}}</span>
    </a>

    <a href="/warehouse" class="cursor-pointer mess ml-3 mt-3 w-10/12" style="text-decoration: none">
      <div class="flex" style=" padding: 12px;">
        <div>
          <img class="w-5 h-5" src="kho.svg" alt="">
        </div>
        <div class="mx-3 text-sm text-gray-100">Kho Hàng</div>
      </div>
    </a>
  </div>
  <!--Side Navbar-->

  <!--Main area-->

  <div class="flex-1">
    <!--Top navbar-->
    <div>

      <div class="bg-white px-2 py-0.5 h-18 flex">
        <div class="left md:w-3/4 sm:w-1/3 flex p-3">
          <img src="person.png" class="w-10 h-10" alt="">
          <span class="block p-2">Admin</span>
        </div>
        <div class="right md:w-1/4 sm:w-2/3 flex  justify-content-end ">
          <!--<img src="message.png" class="w-7 h-7 bg-gray-100 rounded-full p-1 mx-2 my-4 cursor-pointer" alt="">-->
        </div>
      </div>
    </div>
    <!--Top navbar-->
    <div class="card-container flex m-7 space-x-6 " style=" height: 555px;  justify-content: center;">

      <div id="load" class="spinner-border text-primary"></div>

      <div class="card w-full" id="hienThidata" style="display: none">
        <div class="card w-full" style="display: flex;flex-direction: row;padding: 8px">

          <div class="box-chat">
            <div v-for="item in dataTitleChat" :class="{'informationNew':item.status,'information':!item.status}"
                 @click="OpenChatUser(item.user)">
              \{{item.fullName}}
            </div>
          </div>
          <div id="checkData" style="width: 80%" v-if="dataContentChat.length > 0">
            <div class="name-user">
              \{{nameUser}}
            </div>
            <div class="box-content">
              <div id="listConten" class="contenChat" v-for="item in dataContentChat"
                   :class="{'admin': item.beLong === 'admin', 'user': item.beLong !== 'admin'}">
                \{{item.conTenMain}}
              </div>
            </div>
            <form @submit.prevent="submitContentChat" class="mb-3" style="margin: 0 14px;">
              <div class="input-group">
                <label class="form-control">
                  <input style="width: 100%;outline: unset !important;" type="text"
                         v-model="formData.conTenMain" required>
                </label>
                <div class="input-group-append" style="margin-left: 8px;">
                  <button class="btn btn-primary" type="submit">Gửi</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
  var vm = new Vue({
    el: "#dataALL",
    data: {
      idUser: '',
      nameUser: '',
      dataTitleChat: {},
      dataContentChat: {},
      checkClick: false,
      formData: {
        user: '',
        conTenMain: '',
        beLong: "admin",
        status: false
      },
      tinNhanMoi: 0,
      donHangMoi: 0
    },
    mounted() {
      const socket = io();
      const self = this;
      socket.on('server-send', () => {
        self.GetAllDataChat();
        self.GetDataCart();
        if (self.idUser.length > 0){
          self.OpenChatUser(self.idUser);
        }
      });

      this.socket = socket;

    },
    beforeDestroy() {
      const socket = io();
      if (socket) {
        this.socket.disconnect();
      }
    },

    methods: {

      GetAllDataChat: function () {
        console.log("Start")
        var self = this;
        fetch('/chatAllShop', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        })
            .then(response => response.json())
            .then(data => {
              const sortedData = data.sort((a, b) => {
                if (a.status === b.status) {
                  return 0;
                }
                return a.status ? -1 : 1;
              });
              self.dataTitleChat = sortedData;
              self.tinNhanMoi = sortedData.filter(item => item.status === true).length

              var load = document.getElementById("load")
              var duLieu = document.getElementById("hienThidata")
              load.style.display = "none"
              duLieu.style.display = "block"
            })
            .catch(error => {
              console.error(error);
            });
      },
      OpenChatUser: function (id) {
        var self = this;
        if (self.checkClick) {
          return
        }
        self.checkClick = true;
        fetch('/chatShop', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({user: id})
        })
            .then(response => response.json())
            .then(data => {
              self.idUser = id
              self.nameUser = data.fullName
              self.dataContentChat = data.content
              self.checkClick = false;
            })
            .catch(error => {
              console.error(error);
            });
      },
      GetDataCart: function () {
        var self = this;
        fetch('/loadData', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
        })
            .then(response => response.json())
            .then(data => {
              self.donHangMoi = data[0].length
            })
            .catch(error => {
              console.error(error);
            });
      },
      submitContentChat() {
        var self = this;
        const socket = io();
        self.formData.user = self.idUser;

        fetch('/home/chatShop', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(self.formData)
        })
            .then(response => response.json())
            .then(data => {
              if (data === true) {
                socket.emit('client-send');
                checkNottifi(self.idUser, self.formData.conTenMain)
                self.formData.conTenMain = '';
              }
            })
            .catch(error => {
              console.error(error);
            });


      }
    }
  })

  vm.GetAllDataChat();
  vm.GetDataCart();

  function checkNottifi(idDataChat, value) {
    fetch('/sendNotificationClient', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({user: idDataChat})
    })
        .then(response => response.json())
        .then(data => {
          const dataIdApp = data.client;
          const filteredData = dataIdApp.filter(item => item.status === "true");
          if (filteredData.length === 0) {
            return
          }
          checkNottifiMess(idDataChat, value)

        })
        .catch(error => {
          console.error(error);
        });

  }

  function checkNottifiMess(idDataChat, value) {
    fetch('/sendNotificationMess', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({user: idDataChat})
    })
        .then(response => response.json())
        .then(data => {
          const dataIdApp = data.client
          const filteredData = dataIdApp.filter(item => item.status === "false");
          if (filteredData.length === 0) {
            return
          }
          const idClientArray = filteredData.map(item => item.IdClient);
          NotificaionClient(idClientArray, value)

        })
        .catch(error => {
          console.error(error);
        });

  }

  function NotificaionClient(id, mess) {
    fetch('https://exp.host/--/api/v2/push/send', {
      mode: 'no-cors',
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        to: id,
        title: 'ShopBipBip',
        body: mess,
        data: {
          message: mess,
        },
      })
    });
  }
</script>
</html>