<html lang="en">

<head>
  <title>Đơn Hàng</title>
  <link rel="stylesheet" href="styles.css">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script src="https://code.highcharts.com/highcharts.js"></script>
  <style>
    .table td {
      vertical-align: middle;
      font-size: 15px;
    }

    .table .table-actions a {
      margin-right: 5px;
    }

    .btn-cf {
      outline: unset !important;
    }

    .mess {
      position: relative;
      display: inline-block;
    }

    .mess::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: white;
      transition: width 0.5s ease-in-out;
    }

    .mess:hover::after {
      width: 100%;
    }


    .highcharts-data-table table {
      min-width: 320px;
      max-width: 800px;
      height: 400px;
      margin: 1em auto;
    }

    .box-size-table {
      display: flex;
      align-items: center;
      justify-content: end;
      padding: 14px 0;
      height: 13%;
      width: 100%;
    }

    .text-box-size-table {
      font-size: 16px;
      font-weight: 600;
      margin-right: 8px;
    }

    .box-arrow {
      display: flex;
      width: 10%;
      justify-content: space-around;
    }

    .box-extra-arrow {
      padding: 6px;
      border: 0.5px solid;
      cursor: pointer;
      margin-right: 2px;
    }

    .box-extra-arrow:hover {
      background: #dedede
    }

    .box-table {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
    }

    .background_status {
      background: #E4E5E8FF;
    }

    .display_Block {
      display: block !important;
    }

    .check_Status {
      display: none;
      padding: 0 8px;
    }


    .box-Main {
      background: white;
      margin: 14px 8px;
      width: 99%;
      height: 96%;
    }

    .box-Main-Status {
      width: 100%;
      height: 6%;
    }

    .box-status {
      display: flex;
      height: 100%;
      justify-content: space-between;
    }

    .box-text-Status {
      display: flex;
    }

    .buttom-status {
      height: 100%;
      padding: 0 8px;
    }

    .text-sizse-color {
      color: white;
    }

    .margin-text-Status {
      margin: 0 10px;
    }

    .box-text-Status-extra {
      height: 7%;
      padding: 0 10px;
      display: flex;
      align-items: center;
    }

    .text-Status {
      color: #1307ef;
      font-family: sans-serif;
    }

    .box-order {
      width: 100%;
      height: 100%;
    }

    .box-Main-order {
      width: 100%;
      height: 87%;
    }

    .body-Main {
      display: flex;
      width: 100%;
      height: 100%;
    }

    .box-Main-One {
      width: 16%;
      height: 100%;
      background-color: rgba(49, 46, 129, var(--tw-bg-opacity));
      display: flex;
      flex-direction: column;
    }

    .box-Text-Title {
      background-color: rgba(55, 48, 163, var(--tw-bg-opacity));
      height: 13%;
      width: 100%;
    }

    .text-Title {
      color: white;
      font-size: 24px;
      padding: 24px;
      font-family: sans-serif;
      font-weight: 600;
    }

    .box-Main-Two {
      width: 84%;
      height: 100%;
    }

    .box-Main-Extra {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .box-infomation {
      width: 100%;
      height: 11%;
    }

    .information {
      display: flex;
      height: 100%;
      width: 100%;
      justify-content: space-between;
      padding: 0 18px;
      background: white;
      align-items: center;
    }

    .information-Admin {
      display: flex;
      width: 8%;
      justify-content: space-between;
      align-items: center;
    }

    .link-a:hover {
      text-decoration: none;
    }

    .link-a {
      color: black;
      font-size: 16px;
      font-family: sans-serif;
    }

    .box-order-Main {
      width: 100%;
      height: 89%;
    }

    .table-order {
      width: 100%;
      height: 87%;
    }

    .item-click {
      height: 87%;
      width: 100%;
    }

    .load-Spinner {
      padding: 20%;
      width: 100%;
      text-align: center;
    }
  </style>
</head>

<body class="bg-gray-200">
<div id="donHangAll">
  <!--Side Navbar-->
  <div class="body-Main">
    <div class="box-Main-One">
      <div class="box-Text-Title">
        <div class="text-Title">Shop BipBip</div>
      </div>
      <div class="item-click">
        <a href="/statistic" class=" cursor-pointer mess ml-3 mt-3 w-10/12"
           style="text-decoration: none ">
          <div class="flex" style=" padding: 12px;">
            <div>
              <img class="w-5 h-5" src="analytics.png" alt="">
            </div>
            <div class="mx-3 text-sm text-gray-100 ">Thống kê</div>
          </div>
        </a>
        <a href="/home" class=" cursor-pointer mess ml-3 mt-3 w-10/12"
           style="display: flex;border-bottom-width: 1px; text-decoration: none ">
          <div class="flex" style=" padding: 12px;">
            <div>
              <img class="w-5 h-5" src="dashboard.png" alt="">
            </div>
            <div class="mx-3 text-sm text-gray-100 ">Đơn Hàng</div>
          </div>
          <span class="badge" style="color: white;font-size: 14px;">\{{donHangMoi}}</span>
        </a>
        <a href="/mess" class="cursor-pointer mess ml-3 mt-3 w-10/12" style="display: flex; text-decoration: none">
          <div class="flex" style="padding: 12px;">
            <div>
              <img class="w-5 h-5 " src="messages.png" alt="">
            </div>
            <div class="mx-3 text-sm text-gray-100 ">Tin Nhắn</div>
          </div>
          <span class="badge" style="color: white;font-size: 14px;">\{{tinNhanMoi}}</span>
        </a>
        <a href="/notifications" class="cursor-pointer mess ml-3 mt-3 w-10/12" style="text-decoration: none">
          <div class="flex" style=" padding: 12px;">
            <div>
              <img class="w-5 h-5" src="notifications.png" alt="">
            </div>
            <div class="mx-3 text-sm text-gray-100">Thông báo</div>
          </div>
        </a>
        <a href="/customer" class="cursor-pointer mess ml-3 mt-3 w-10/12" style="display: flex; text-decoration: none">
          <div class="flex" style="padding: 12px;">
            <div>
              <img class="w-5 h-5 " src="iconuser.png" alt="">
            </div>
            <div class="mx-3 text-sm text-gray-100 ">Quản Lý người dùng</div>
          </div>
        </a>
        <a href="/warehouse" class="cursor-pointer mess ml-3 mt-3 w-10/12" style="text-decoration: none">
          <div class="flex" style=" padding: 12px;">
            <div>
              <img class="w-5 h-5" src="kho.svg" alt="">
            </div>
            <div class="mx-3 text-sm text-gray-100">Kho Hàng</div>
          </div>
        </a>
      </div>
    </div>
    <div class="box-Main-Two">
      <div class="box-Main-Extra">
        <div class="box-infomation">
          <div class="information">
            <div class="information-Admin">
              <img src="person.png" class="w-10 h-10" alt="">
              <span>Admin</span>
            </div>
            <div>
              <a class="link-a" href="/login">Đăng xuất</a>
            </div>
          </div>
        </div>

        <div class="box-order-Main">
          <div id="load" class="load-Spinner">
            <div class="spinner-border text-primary"></div>
          </div>

          <div id="hienThidata" style="display: none">
            <div class="box-Main">
              <div class="box-Main-Status">
                <div class="box-status">
                  <div class="box-text-Status">
                    <div class="margin-text-Status">
                      <button :class="{background_status: statusChoXacNhan}"
                              class="btn-cf buttom-status default-selected " @click="clickChoXacNhan">
                        Chờ xác nhận
                      </button>
                      <span id="totalChoXacNhan"
                            class="position-absolute translate-middle badge rounded-pill bg-danger text-sizse-color">
                  \{{sizechoXacNhan}}
                </span>
                    </div>

                    <div class="margin-text-Status">
                      <button :class="{background_status: statusChoLayHang}" class="btn-cf  buttom-status"
                              style=" padding: 0 8px;" @click="clickChoLayHang">Chờ lấy hàng
                      </button>
                      <span id="totalChoLayHang"
                            class="position-absolute translate-middle badge rounded-pill bg-danger text-sizse-color">
                  \{{sizechoLayHang}}
                </span>
                    </div>

                    <div class="margin-text-Status">
                      <button :class="{background_status: statusChoGiaoHang}" class="btn-cf  buttom-status"
                              style=" padding: 0 8px;" @click="clickChoGiaoHang">Chờ giao hàng
                      </button>
                      <span id="totalChoGiaoHang"
                            class="position-absolute translate-middle badge rounded-pill bg-danger text-sizse-color"
                      >
                  \{{sizechoGiaoHang}}
                </span>
                    </div>

                    <div class="margin-text-Status">
                      <button :class="{background_status: statusDaGiao}" class="btn-cf  buttom-status"
                              style=" padding: 0 8px;" @click="clickDaGiao">Đã giao
                      </button>
                    </div>
                  </div>

                  <div class="box-text-Status">
                    <div class="margin-text-Status">
                      <button :class="{background_status: statusDonHuy}" class="btn-cf  buttom-status"
                              style=" padding: 0 8px;" @click="clickDonHuy">Đơn hủy
                      </button>
                    </div>

                    <div class="margin-text-Status">
                      <button :class="{background_status: statusTraHang}" class="btn-cf  buttom-status"
                              style=" padding: 0 8px;" @click="clickTraHang">Trả hàng
                      </button>
                      <span id="totalTraHang"
                            class="position-absolute translate-middle badge rounded-pill bg-danger text-sizse-color">
                  \{{sizetraHang}}
                </span>
                    </div>
                    <div class="margin-text-Status">
                      <button :class="{background_status: statusDonHoan}" class="btn-cf  buttom-status"
                              style=" padding: 0 8px;" @click="clickDonHoan">Đơn Hoàn
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box-text-Status-extra">
                <div class="text-Status">Đơn hàng > \{{nameStatus}}</div>
              </div>
              <div class="box-Main-order">

                <div id="choXacNhan" :class="{display_Block:statusChoXacNhan}" class="check_Status">
                  <div class="box-table">
                    <div class="table-order">
                      <table class="table table-bordered">
                        <thead>
                        <tr>
                          <th style="text-align: center;width: 110px">STT</th>
                          <th style="text-align: center;">Mã Đơn Hàng</th>
                          <th style="text-align: center;">Tài khoản đặt</th>
                          <th style="text-align: center;width: 120px">Số lượng</th>
                          <th style="text-align: center;width: 130px">Giá tiền</th>
                          <th style="text-align: center;width: 100px">Chi tiết</th>
                          <th style="text-align: center;width: 145px;">Thao tác</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr v-for="(item, index) in choXacNhan[indexSize-1]">
                          <td>\{{((indexSize-1) * 7)+index+1}}</td>
                          <td>\{{item._id}}</td>
                          <td>\{{item.customer_email}}</td>
                          <td>\{{item.total_quantity}}</td>
                          <td>\{{formatPrice(item.total_amount)}}</td>
                          <td>
                            <img width="40px" src="detail.png" class="btn btn-primary btn-sm"
                                 @click="openModalXemChiTiet(choXacNhan[indexSize-1][index])"/>
                          </td>
                          <td>
                            <img width="40px" src="tick.png" class="btn btn-success btn-sm"
                                 @click="openModalXacNhanDon(choXacNhan[indexSize-1][index])"/>
                            <img width="40px" src="close.png" class="btn btn-danger btn-sm"
                                 @click="openModalHuyDon(choXacNhan[indexSize-1][index])"/>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="box-size-table">
                      <div class="text-box-size-table">\{{sizeTable(indexSize)}} của tổng số \{{sizechoXacNhan}}</div>
                      <div class="box-arrow">
                        <div class="box-extra-arrow" @click="backSize(choXacNhan)">
                          <img src="next.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="arrowBackSize(choXacNhan)">
                          <img src="back-arrow.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="arrowNextSize(choXacNhan)">
                          <img src="right-arrow.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="nextSize(choXacNhan)">
                          <img src="back.png" style="width: 24px" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="choLayHang" :class="{display_Block:statusChoLayHang}" class="check_Status">
                  <div class="box-table">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th style="text-align: center;width: 110px">STT</th>
                        <th style="text-align: center;">Mã Đơn Hàng</th>
                        <th style="text-align: center;">Tài khoản đặt</th>
                        <th style="text-align: center;width: 120px">Số lượng</th>
                        <th style="text-align: center;width: 130px">Giá tiền</th>
                        <th style="text-align: center;width: 100px">Chi tiết</th>
                        <th style="text-align: center;width: 145px;">Thao tác</th>
                      </tr>
                      </thead>
                      <tbody>

                      <tr v-for="(item, index) in choLayHang[indexSize-1]">
                        <td>\{{((indexSize-1) * 7)+index+1}}</td>
                        <td>\{{item._id}}</td>
                        <td>\{{item.customer_email}}</td>
                        <td>\{{item.total_quantity}}</td>
                        <td>\{{formatPrice(item.total_amount)}}</td>
                        <td>
                          <img width="40px" src="detail.png" class="btn btn-primary btn-sm"
                               @click="openModalXemChiTiet(choLayHang[indexSize-1][index])"/>
                        </td>
                        <td>
                          <img width="40px" src="tick.png" class="btn btn-success btn-sm"
                               @click="openModalXacNhanDon(choLayHang[indexSize-1][index])"/>
                          <img width="40px" src="close.png" class="btn btn-danger btn-sm"
                               @click="openModalHuyDon(choLayHang[indexSize-1][index])"/>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="box-size-table">
                      <div class="text-box-size-table">\{{sizeTable(indexSize)}} của tổng số \{{sizechoLayHang}}</div>
                      <div class="box-arrow">
                        <div class="box-extra-arrow" @click="backSize(choLayHang)">
                          <img src="next.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="arrowBackSize(choLayHang)">
                          <img src="back-arrow.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="arrowNextSize(choLayHang)">
                          <img src="right-arrow.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="nextSize(choLayHang)">
                          <img src="back.png" style="width: 24px" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="donHuy" :class="{display_Block:statusDonHuy}" class="check_Status">
                  <div class="box-table">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th style="text-align: center;width: 110px">STT</th>
                        <th style="text-align: center;">Mã Đơn Hàng</th>
                        <th style="text-align: center;">Tài khoản đặt</th>
                        <th style="text-align: center;width: 120px">Số lượng</th>
                        <th style="text-align: center;width: 130px">Giá tiền</th>
                        <th style="text-align: center;width: 100px">Chi tiết</th>
                      </tr>
                      </thead>
                      <tbody>

                      <tr v-for="(item, index) in donHuy[indexSize-1]">
                        <td>\{{((indexSize-1) * 7)+index+1}}</td>
                        <td>\{{item._id}}</td>
                        <td>\{{item.customer_email}}</td>
                        <td>\{{item.total_quantity}}</td>
                        <td>\{{formatPrice(item.total_amount)}}</td>
                        <td>
                          <img width="40px" src="detail.png" class="btn btn-primary btn-sm"
                               @click="openModalXemChiTiet(donHuy[indexSize-1][index])"/>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="box-size-table">
                      <div class="text-box-size-table">\{{sizeTable(indexSize)}} của tổng số \{{sizedonHuy}}</div>
                      <div class="box-arrow">
                        <div class="box-extra-arrow" @click="backSize(donHuy)">
                          <img src="next.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="arrowBackSize(donHuy)">
                          <img src="back-arrow.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="arrowNextSize(donHuy)">
                          <img src="right-arrow.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="nextSize(donHuy)">
                          <img src="back.png" style="width: 24px" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="choGiaoHang" :class="{display_Block:statusChoGiaoHang}" class="check_Status">
                  <div class="box-table">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th style="text-align: center;width: 110px">STT</th>
                        <th style="text-align: center;">Mã Đơn Hàng</th>
                        <th style="text-align: center;">Tài khoản đặt</th>
                        <th style="text-align: center;width: 120px">Số lượng</th>
                        <th style="text-align: center;width: 130px">Giá tiền</th>
                        <th style="text-align: center;width: 100px">Chi tiết</th>
                        <th style="text-align: center;width: 145px;">Thao tác</th>
                      </tr>
                      </thead>
                      <tbody>

                      <tr v-for="(item, index) in choGiaoHang[indexSize-1]">
                        <td>\{{((indexSize-1) * 7)+index+1}}</td>
                        <td>\{{item._id}}</td>
                        <td>\{{item.customer_email}}</td>
                        <td>\{{item.total_quantity}}</td>
                        <td>\{{formatPrice(item.total_amount)}}</td>
                        <td>
                          <img width="40px" src="detail.png" class="btn btn-primary btn-sm"
                               @click="openModalXemChiTiet(choGiaoHang[indexSize-1][index])"/>
                        </td>
                        <td>
                          <img width="40px" src="tick.png" class="btn btn-success btn-sm"
                               @click="openModalXacNhanDon(choGiaoHang[indexSize-1][index])"/>
                          <img width="40px" src="close.png" class="btn btn-danger btn-sm"
                               @click="openModalHuyDon(choGiaoHang[indexSize-1][index])"/>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="box-size-table">
                      <div class="text-box-size-table">\{{sizeTable(indexSize)}} của tổng số \{{sizechoGiaoHang}}</div>
                      <div class="box-arrow">
                        <div class="box-extra-arrow" @click="backSize(choGiaoHang)">
                          <img src="next.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="arrowBackSize(choGiaoHang)">
                          <img src="back-arrow.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="arrowNextSize(choGiaoHang)">
                          <img src="right-arrow.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="nextSize(choGiaoHang)">
                          <img src="back.png" style="width: 24px" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="daGiao" :class="{display_Block:statusDaGiao}" class="check_Status">
                  <div class="box-table">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th style="text-align: center;width: 110px">STT</th>
                        <th style="text-align: center;">Mã Đơn Hàng</th>
                        <th style="text-align: center;">Tài khoản đặt</th>
                        <th style="text-align: center;width: 120px">Số lượng</th>
                        <th style="text-align: center;width: 130px">Giá tiền</th>
                        <th style="text-align: center;width: 100px">Chi tiết</th>
                      </tr>
                      </thead>
                      <tbody>

                      <tr v-for="(item, index) in daGiao[indexSize-1]">
                        <td>\{{((indexSize-1) * 7)+index+1}}</td>
                        <td>\{{item._id}}</td>
                        <td>\{{item.customer_email}}</td>
                        <td>\{{item.total_quantity}}</td>
                        <td>\{{formatPrice(item.total_amount)}}</td>
                        <td>
                          <img width="40px" src="detail.png" class="btn btn-primary btn-sm"
                               @click="openModalXemChiTiet(daGiao[indexSize-1][index])"/>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="box-size-table">
                      <div class="text-box-size-table">\{{sizeTable(indexSize)}} của tổng số \{{sizedaGiao}}</div>
                      <div class="box-arrow">
                        <div class="box-extra-arrow" @click="backSize(daGiao)">
                          <img src="next.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="arrowBackSize(daGiao)">
                          <img src="back-arrow.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="arrowNextSize(daGiao)">
                          <img src="right-arrow.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="nextSize(daGiao)">
                          <img src="back.png" style="width: 24px" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="traHang" :class="{display_Block:statusTraHang}" class="check_Status">
                  <div class="box-table">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th style="text-align: center;width: 110px">STT</th>
                        <th style="text-align: center;">Mã Đơn Hàng</th>
                        <th style="text-align: center;">Tài khoản đặt</th>
                        <th style="text-align: center;width: 120px">Số lượng</th>
                        <th style="text-align: center;width: 130px">Giá tiền</th>
                        <th style="text-align: center;width: 100px">Chi tiết</th>
                        <th style="text-align: center;width: 145px;">Thao tác</th>
                      </tr>
                      </thead>
                      <tbody>

                      <tr v-for="(item, index) in traHang[indexSize-1]">
                        <td>\{{((indexSize-1) * 7)+index+1}}</td>
                        <td>\{{item._id}}</td>
                        <td>\{{item.customer_email}}</td>
                        <td>\{{item.total_quantity}}</td>
                        <td>\{{formatPrice(item.total_amount)}}</td>
                        <td>
                          <img width="40px" src="detail.png" class="btn btn-primary btn-sm"
                               @click="openModalXemChiTiet(traHang[indexSize-1][index])"/>
                        </td>
                        <td>
                          <img width="40px" src="tick.png" class="btn btn-success btn-sm"
                               @click="openModalXacNhanDon(traHang[indexSize-1][index])"/>
                          <img width="40px" src="close.png" class="btn btn-danger btn-sm"
                               @click="openModalHuyDon(traHang[indexSize-1][index])"/>
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="box-size-table">
                      <div class="text-box-size-table">\{{sizeTable(indexSize)}} của tổng số \{{sizetraHang}}</div>
                      <div class="box-arrow">
                        <div class="box-extra-arrow" @click="backSize(traHang)">
                          <img src="next.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="arrowBackSize(traHang)">
                          <img src="back-arrow.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="arrowNextSize(traHang)">
                          <img src="right-arrow.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="nextSize(traHang)">
                          <img src="back.png" style="width: 24px" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div id="donHoan" :class="{display_Block:statusDonHoan}" class="check_Status">
                  <div class="box-table">
                    <table class="table table-bordered">
                      <thead>
                      <tr>
                        <th style="text-align: center;width: 110px">STT</th>
                        <th style="text-align: center;">Mã Đơn Hàng</th>
                        <th style="text-align: center;">Tài khoản đặt</th>
                        <th style="text-align: center;width: 120px">Số lượng</th>
                        <th style="text-align: center;width: 130px">Giá tiền</th>
                        <th style="text-align: center;width: 100px">Chi tiết</th>
                      </tr>
                      </thead>
                      <tbody>

                      <tr v-for="(item, index) in donHoan[indexSize-1]">
                        <td>\{{((indexSize-1) * 7)+index+1}}</td>
                        <td>\{{item._id}}</td>
                        <td>\{{item.customer_email}}</td>
                        <td>\{{item.total_quantity}}</td>
                        <td>\{{formatPrice(item.total_amount)}}</td>
                        <td>
                          <img width="40px" src="detail.png" class="btn btn-primary btn-sm"
                               @click="openModalXemChiTiet(donHoan[indexSize-1][index])"/>
                        </td>

                      </tr>
                      </tbody>
                    </table>
                    <div class="box-size-table">
                      <div class="text-box-size-table">\{{sizeTable(indexSize)}} của tổng số \{{sizedonHoan}}</div>
                      <div class="box-arrow">
                        <div class="box-extra-arrow" @click="backSize(donHoan)">
                          <img src="next.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="arrowBackSize(donHoan)">
                          <img src="back-arrow.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="arrowNextSize(donHoan)">
                          <img src="right-arrow.png" style="width: 24px" alt="">
                        </div>
                        <div class="box-extra-arrow" @click="nextSize(donHoan)">
                          <img src="back.png" style="width: 24px" alt="">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="xemChiTiet" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thông tin chi tiết</h5>
          <button type="button" class="close" @click="closeModalXemChiTiet" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div style="margin-bottom: 2px" class="modal-body">
          <div>
            Họ và tên: \{{dataXemChiTiet.userName}} <br>
            Số điện thoại: \{{dataXemChiTiet.phone}}<br>
            Địa chỉ: \{{dataXemChiTiet.address}}
          </div>
          <div v-for="(item,index) in dataXemChiTiet.products" style="display: flex;padding: 12px">
            <img style="height: 80px; margin-right: 8px;width: 80px;  border-radius: 8px;"
                 :src=(item.img_product) alt="">
            <div style="width: 100%">
              <div style="font-weight: 700;font-size: 16px">
                \{{item.name_Product}}
              </div>
              <div style="display: flex;justify-content: space-between;">

                <div style="display: flex">
                  <div style="color:#656769; margin-right: 7px">
                    \{{item.name_Color}}
                  </div>
                  <div style="color:#656769;">
                    \{{item.name_Size}}
                  </div>
                </div>

                <div>
                  x \{{item.quantityProduct}}
                </div>
              </div>
              <div style="text-align: end;color: red">
                \{{formatPrice(item.name_Price)}}

              </div>
            </div>
          </div>

          <div style="display: flex; text-align: end;justify-content: end;">
            Tổng tiền:
            <div style="color: red;font-weight: 700;margin-left: 7px;"> \{{formatPrice(dataXemChiTiet.total_All)}}</div>
          </div>
          <div style="display: flex; text-align: end;justify-content: end;"
               v-if="dataXemChiTiet.status === 3 || dataXemChiTiet.status === 9">
            Ngày giao: \{{formatDate(dataXemChiTiet.order_date)}}
          </div>
          <div style="display: flex; text-align: end;justify-content: end;"
               v-if="dataXemChiTiet.status !== 3 && dataXemChiTiet.status !== 9">
            Ngày đặt: \{{formatDate(dataXemChiTiet.order_date)}}
          </div>
          <div style="display: flex;" v-if="dataXemChiTiet.lyDoHuyDon && dataXemChiTiet.status === 9">
            Lý do hủy trả hàng:
            <div style="font-weight: 600;margin-left: 7px;"> \{{dataXemChiTiet.lyDoHuyDon}}</div>
          </div>
          <div style="display: flex;" v-if="dataXemChiTiet.lyDoHuyDon && dataXemChiTiet.status !== 9">
            Lý do hủy đơn hàng:
            <div style="font-weight: 600;margin-left: 7px;"> \{{dataXemChiTiet.lyDoHuyDon}}</div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="xacNhanDon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" v-if="dataXacNhanDon.status === 5">Đồng ý trả hàng tài
            khooản: \{{dataXacNhanDon.customer_email}}?</h5>
          <h5 class="modal-title" id="exampleModalLabel" v-else>Xác nhận đơn tài khooản:
            \{{dataXacNhanDon.customer_email}}?
          </h5>
          <button type="button" class="close" @click="closeModalXacNhanDon" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div style="margin-bottom: 2px" class="modal-body">
          <div>
            Họ và tên: \{{dataXacNhanDon.userName}} <br>
            Số điện thoại: \{{dataXacNhanDon.phone}}<br>
            Địa chỉ: \{{dataXacNhanDon.address}}
          </div>
          <div v-for="(item,index) in dataXacNhanDon.products" style="display: flex;padding: 12px">
            <img style="height: 80px; margin-right: 8px;width: 80px;  border-radius: 8px;"
                 :src=(item.img_product) alt="">
            <div style="width: 100%">
              <div style="font-weight: 700;font-size: 16px">
                \{{item.name_Product}}
              </div>
              <div style="display: flex;justify-content: space-between;">

                <div style="display: flex">
                  <div style="color:#656769; margin-right: 7px">
                    \{{item.name_Color}}
                  </div>
                  <div style="color:#656769;">
                    \{{item.name_Size}}
                  </div>
                </div>

                <div>
                  x \{{item.quantityProduct}}
                </div>
              </div>
              <div style="text-align: end;color: red">
                \{{formatPrice(item.name_Price)}}

              </div>
            </div>
          </div>

          <div style="display: flex; text-align: end;justify-content: end;">
            Tổng tiền:
            <div style="color: red;font-weight: 700;margin-left: 7px;"> \{{formatPrice(dataXacNhanDon.total_All)}}</div>
          </div>
          <div style="display: flex; text-align: end;justify-content: end;">
            Ngày đặt: \{{formatDate(dataXacNhanDon.order_date)}}
          </div>
          <div style="display: flex;" v-if="dataXacNhanDon.lyDoHuyDon">
            Lý do hủy:
            <div style="font-weight: 600;margin-left: 7px;"> \{{dataXacNhanDon.lyDoHuyDon}}</div>
          </div>
        </div>


        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Thoát
          </button>
          <form @submit.prevent="submitXacNhanDon">
            <button type="submit" class="btn btn-primary">Xác nhận</button>
          </form>
        </div>

      </div>
    </div>
  </div>
  <div class="modal fade" id="huyDon" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel" v-if="dataHuyDon.status === 5">Từ chối trả hàng tài khoản:
            \{{dataHuyDon.customer_email}}?
          </h5>
          <h5 class="modal-title" id="exampleModalLabel" v-else>Hủy đơn tài khoản: \{{dataHuyDon.customer_email}}?</h5>
          <button type="button" class="close" @click="closeModalHuyDon" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
            Họ và tên: \{{dataHuyDon.userName}} <br>
            Số điện thoại: \{{dataHuyDon.phone}}<br>
            Địa chỉ: \{{dataHuyDon.address}}
          </div>
          <div v-for="(item,index) in dataHuyDon.products" style="display: flex;padding: 12px">
            <img style="height: 80px; margin-right: 8px;width: 80px;  border-radius: 8px;"
                 :src=(item.img_product) alt="">
            <div style="width: 100%">
              <div style="font-weight: 700;font-size: 16px">
                \{{item.name_Product}}
              </div>
              <div style="display: flex;justify-content: space-between;">

                <div style="display: flex">
                  <div style="color:#656769; margin-right: 7px">
                    \{{item.name_Color}}
                  </div>
                  <div style="color:#656769;">
                    \{{item.name_Size}}
                  </div>
                </div>

                <div>
                  x \{{item.quantityProduct}}
                </div>
              </div>
              <div style="text-align: end;color: red">
                \{{formatPrice(item.name_Price)}}

              </div>
            </div>
          </div>

          <div style="display: flex; text-align: end;justify-content: end;">
            Tổng tiền:
            <div style="color: red;font-weight: 700;margin-left: 7px;"> \{{formatPrice(dataHuyDon.total_All)}}</div>
          </div>
          <div style="display: flex; text-align: end;justify-content: end;margin-bottom: 8px;">
            Ngày đặt: \{{formatDate(dataHuyDon.order_date)}}
          </div>
          <div style="display: flex;" v-if="dataHuyDon.lyDoHuyDon">
            Lý do hủy:
            <div style="font-weight: 600;margin-left: 7px;"> \{{dataHuyDon.lyDoHuyDon}}</div>
          </div>


          <form @submit.prevent="submitHuyDon" class="mb-3">
            <div class="form-group">

              <input type="text" class="form-control"
                     v-model="formData.noiDung" required
                     placeholder="Vui lòng nhập lý do ">
            </div>
            <button type="button" class="btn btn-secondary"
                    data-dismiss="modal"> Thoát
            </button>
            <button type="submit" class="btn btn-danger">Xác nhận</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>

</body>
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script>
  var vmCart = new Vue({
    el: '#donHangAll',
    data: {
      choXacNhan: {},
      choLayHang: {},
      choGiaoHang: {},
      daGiao: {},
      donHuy: {},
      traHang: {},
      donHoan: {},

      sizechoXacNhan: {},
      sizechoLayHang: {},
      sizechoGiaoHang: {},
      sizedaGiao: {},
      sizedonHuy: {},
      sizetraHang: {},
      sizedonHoan: {},

      showModal: false,

      dataXemChiTiet: {},
      dataXacNhanDon: {},
      dataHuyDon: {},
      tinNhanMoi: 0,
      donHangMoi: 0,
      formData: {
        noiDung: ''
      },

      indexSize: 1,
      nameStatus: 'Chờ xác nhận',
      statusChoXacNhan: true,
      statusChoLayHang: false,
      statusChoGiaoHang: false,
      statusDaGiao: false,
      statusDonHuy: false,
      statusTraHang: false,
      statusDonHoan: false,
    },
    mounted() {
      const socket = io();
      const self = this;
      socket.on('server-send', () => {
        self.GetAllDataChat();
        self.GetDataCart();
      });
      this.socket = socket;

    },
    beforeDestroy() {
      const socket = io();
      if (socket) {
        this.socket.disconnect();
      }
    },
    methods: {
      sizeTable(vale) {
        const start = (vale - 1) * 7 + 1
        const end = (vale - 1) * 7 + 7
        return `${start} - ${end}`;
      },

      nextSize(arr) {
        var self = this
        self.indexSize = arr.length
      },
      arrowNextSize(arr) {
        var self = this
        var i = self.indexSize
        if (0 < i && i < arr.length) {
          self.indexSize = i + 1
        }
        console.log(i)
      },
      arrowBackSize(arr) {
        var self = this
        var i = self.indexSize
        if (1 < i && i <= arr.length) {
          self.indexSize = i - 1
        }
        console.log(i)
      },
      backSize(arr) {
        var self = this
        self.indexSize = 1
      },

      formatDate(vale) {
        const date = new Date(vale);
        const year = date.getFullYear();
        const month = date.getMonth() + 1;
        const day = date.getDate();
        return `${day}-${month}-${year}`;
      },
      formatPrice(value) {
        let val = (value / 1).toFixed(0);
        return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") + " đ";
      },
      openModalXemChiTiet(data) {
        this.dataXemChiTiet = data
        $('#xemChiTiet').modal('show');
      },
      closeModalXemChiTiet() {
        this.dataXemChiTiet = {};
        $('#xemChiTiet').modal('hide');
      },

      openModalXacNhanDon(data) {
        this.dataXacNhanDon = data
        $('#xacNhanDon').modal('show');
      },
      closeModalXacNhanDon() {
        this.dataXacNhanDon = {};
        $('#xacNhanDon').modal('hide');
      },

      openModalHuyDon(data) {
        this.dataHuyDon = data
        $('#huyDon').modal('show');
      },
      closeModalHuyDon() {
        this.dataHuyDon = {};
        $('#huyDon').modal('hide');
      },

      GetDataCart: function () {
        var self = this;
        fetch('/loadDataChoXacNhan', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
        })
            .then(response => response.json())
            .then(data => {
              var dataChoXacNhan = splitList(data, 7)
              self.choXacNhan = dataChoXacNhan

              self.sizechoXacNhan = data.length
              self.donHangMoi = data.length
              var load = document.getElementById("load")
              var duLieu = document.getElementById("hienThidata")

              load.style.display = "none"
              duLieu.style.display = "block"
            })
            .catch(error => {
              console.error(error);
            });

        fetch('/loadDataChoLayHang', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
        })
            .then(response => response.json())
            .then(data => {
              var dataChoLayHang = splitList(data, 7)
              self.choLayHang = dataChoLayHang
              self.sizechoLayHang = data.length
            })
            .catch(error => {
              console.error(error);
            });

        fetch('/loadDataChoGiaoHang', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
        })
            .then(response => response.json())
            .then(data => {
              var dataChoGiaoHang = splitList(data, 7)
              self.choGiaoHang = dataChoGiaoHang
              self.sizechoGiaoHang = data.length
            })
            .catch(error => {
              console.error(error);
            });

        fetch('/loadDataTraHang', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
        })
            .then(response => response.json())
            .then(data => {
              var dataTraHang = splitList(data, 7)
              self.traHang = dataTraHang
              self.sizetraHang = data.length
            })
            .catch(error => {
              console.error(error);
            });

        fetch('/loadDataDaGiao', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
        })
            .then(response => response.json())
            .then(data => {
              var dataDaGiao = splitList(data, 7)
              self.daGiao = dataDaGiao
              self.sizedaGiao = data.length
            })
            .catch(error => {
              console.error(error);
            });

        fetch('/loadDataDonHuy', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
        })
            .then(response => response.json())
            .then(data => {
              var dataDonHuy = splitList(data, 7)
              self.donHuy = dataDonHuy
              self.sizedonHuy = data.length
            })
            .catch(error => {
              console.error(error);
            });


        fetch('/loadDataDonHoan', {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json'
          },
        })
            .then(response => response.json())
            .then(data => {
              var dataDonHoan = splitList(data, 7)
              self.donHoan = dataDonHoan
              self.sizedonHoan = data.length
            })
            .catch(error => {
              console.error(error);
            });


      },
      GetAllDataChat: function () {
        var self = this;
        fetch('/chatAllShop', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          }
        })
            .then(response => response.json())
            .then(data => {
              self.tinNhanMoi = data.filter(item => item.status === true).length
            })
            .catch(error => {
              console.error(error);
            });
      },

      submitXacNhanDon() {
        const self = this;
        const socket = io();

        fetch(`/order/status/Comfig/${self.dataXacNhanDon._id}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
        })
            .then(response => response.json())
            .then(data => {
              if (data === true) {
                socket.emit('client-send');
                self.dataXacNhanDon = {};
                $('#xacNhanDon').modal('hide');
              }
            })
            .catch(error => {
              console.error(error);
            });
      },
      submitHuyDon() {
        const self = this;
        const socket = io();

        fetch(`/order/status/${self.dataHuyDon._id}`, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(self.formData)
        })
            .then(response => response.json())
            .then(data => {
              if (data === true) {
                socket.emit('client-send');
                self.dataHuyDon = {};
                self.formData.noiDung = '';
                $('#huyDon').modal('hide');
              }
            })
            .catch(error => {
              console.error(error);
            });
      },


      clickChoXacNhan() {
        var self = this
        self.indexSize = 1
        self.nameStatus = 'Chờ xác nhận'
        self.statusChoXacNhan = true
        self.statusChoLayHang = false
        self.statusChoGiaoHang = false
        self.statusDaGiao = false
        self.statusDonHuy = false
        self.statusTraHang = false
        self.statusDonHoan = false
      },
      clickChoLayHang() {
        var self = this
        self.indexSize = 1
        self.nameStatus = 'Chờ lấy hàng'
        self.statusChoXacNhan = false
        self.statusChoLayHang = true
        self.statusChoGiaoHang = false
        self.statusDaGiao = false
        self.statusDonHuy = false
        self.statusTraHang = false
        self.statusDonHoan = false
      },
      clickChoGiaoHang() {
        var self = this
        self.indexSize = 1
        self.nameStatus = 'Chờ giao hàng'
        self.statusChoXacNhan = false
        self.statusChoLayHang = false
        self.statusChoGiaoHang = true
        self.statusDaGiao = false
        self.statusDonHuy = false
        self.statusTraHang = false
        self.statusDonHoan = false
      },
      clickDaGiao() {
        var self = this
        self.indexSize = 1
        self.nameStatus = 'Đã giao'
        self.statusChoXacNhan = false
        self.statusChoLayHang = false
        self.statusChoGiaoHang = false
        self.statusDaGiao = true
        self.statusDonHuy = false
        self.statusTraHang = false
        self.statusDonHoan = false
      },
      clickDonHuy() {
        var self = this
        self.indexSize = 1
        self.nameStatus = 'Đơn hủy'
        self.statusChoXacNhan = false
        self.statusChoLayHang = false
        self.statusChoGiaoHang = false
        self.statusDaGiao = false
        self.statusDonHuy = true
        self.statusTraHang = false
        self.statusDonHoan = false
      },
      clickTraHang() {
        var self = this
        self.indexSize = 1
        self.nameStatus = 'Trả hàng'
        self.statusChoXacNhan = false
        self.statusChoLayHang = false
        self.statusChoGiaoHang = false
        self.statusDaGiao = false
        self.statusDonHuy = false
        self.statusTraHang = true
        self.statusDonHoan = false
      },
      clickDonHoan() {
        var self = this
        self.indexSize = 1
        self.nameStatus = 'Đơn hoàn'
        self.statusChoXacNhan = false
        self.statusChoLayHang = false
        self.statusChoGiaoHang = false
        self.statusDaGiao = false
        self.statusDonHuy = false
        self.statusTraHang = false
        self.statusDonHoan = true
      },
    }
  });

  vmCart.GetAllDataChat();
  vmCart.GetDataCart();

  function splitList(arr, size) {
    let result = [];
    for (let i = 0; i < arr.length; i += size) {
      let chunk = arr.slice(i, i + size);
      result.push(chunk);
    }
    return result;
  }
</script>
</html>